<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% if (user==="erro" ){%>

    <p>Usuario não encontrado</p>
    <%} else { %>
      <p>Olá <%= user.nome %> seja bem vindo</p>
      <% } %>
</body>

</html>